.body{
    overflow-y: auto;
    height: 90vh;
}
.promHome{
    color: rgb(227, 92, 19);
    font-size: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    transition: all 0.5s ease-in-out;
    background: url("../img/ban.jpg") fixed;
    background-size: cover;
    background-position: center;

}
.popular{
    margin-left: 5%;
    margin-right: 20%;
    height: auto;
    transition: all .5s ease-in-out;
}
.popular i{
    color: rgb(227, 92, 19);
}
::placeholder{
    font-size: large;
    color: rgb(227, 92, 19);
}
.search{
    margin-top:1em ;
    margin-bottom:1em ;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    display: flex;
    justify-items: center;
    height: 2.5em;
    border-radius: 10px;
    border: 0.1px solid rgb(227, 92, 19);
    font-size: large;
    text-align: center;
    transition: all .5s ease-in-out;
    /* width: 30%; */
}
.sr{
    position: sticky;
    top: 0;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 1px; */
    background-color: white;
}
.tableOfContent{
    border: 0.5px solid rgb(227, 92, 19);
    display: block;
    position: fixed;
    right: 30px;
    top: 320px;
    padding: 2em;
    width: 12%;
    font-size: large;
    color: rgb(227, 92, 19);
    transition: all .5s ease-in-out;
    border-radius: 10px;
}
.tableOfContent a{
    color:rgb(227, 92, 19) ;
    transition: all .5s ease-in-out;
}
.tableOfContent a:hover{
    color:rgb(34, 79, 243) ;
}

.items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 1em;
    transition: all .5s ease-in-out;
}
.cart{
    height: 40px;
    width: 40px;
    background-color: white;
    /* border: 1px solid rgb(227, 92, 19); */
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    position:absolute;
    top: 10px;
    right:100px;
    transition: all .5s ease-in-out;
}
.fa-cart-shopping{
    font-size: 20px;
}
.counter{
    position: absolute;
    top: -5px;
    right: -5px;
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: #ffffff solid 0.5px;
    background-color: rgb(227, 92, 19);
    color: #fff;
    font-size: 12px;
    text-align: center;
}
@media screen and (max-width:1510px) {
    .items {
        grid-template-columns: repeat(3,1fr);
        transition: all .5s ease-in-out;
        row-gap: 1em;
    }
}
@media screen and (max-width:1200px) {
    .items {
        grid-template-columns: repeat(4,1fr);
        transition: all .5s ease-in-out;
    }
    .tableOfContent{
        display: none;
    }
    .popular {
        margin-left: 4%;
        margin-right: 4%;
        transition: all .5s ease-in-out;
    }
    .promHome{
        font-size: 100%;
    }
    .cart{
        top: 10px;
        right:460px;
        transition: all .5s ease-in-out;
    }
}
@media screen and (max-width:1120px) {
    .items {
        grid-template-columns: repeat(3,1fr);
        transition: all .5s ease-in-out;
    }
}
@media screen and (max-width:999px) {
    .cart{
        top: 10px;
        right:100px;
        transition: all .5s ease-in-out;
    }
}
@media screen and (max-width:900px) {
    .items{
        display: flex;
        flex-direction: column;
        row-gap: 0.5em;
        margin-right:3% ;
    }
}

@media screen and (max-width:500px) {
    .cart{
        right: 80px;
        transition: all .5s ease-in-out;
        
    }
    .search{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        display: flex;
        justify-items: center;
        height: 2.5em;
        border-radius: 10px;
        border: 0.1px solid rgb(227, 92, 19);
        font-size: large;
        text-align: center;
        transition: all .5s ease-in-out;
        /* width: 30%; */
    }
}
.slider {
    /* padding-left: 2%; */
    padding-right: 2%;
    border: #ffffff;
}

.slider-container {
    overflow: hidden;
    position: relative;
    z-index: -1000;
    border: solid rgb(255, 255, 255) 1px;
    border-radius: 30px;
}

.slider-images {
    display: flex;
    animation: slide 10s infinite;

}

.slider-images img {

    width: 100%;

}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    15% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(-100%);
    }

    45% {
        transform: translateX(-100%);
    }

    60% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0%);
    }

}