.body{
    overflow-y: auto;
    height: 90vh;
}
.promHome{
    color: rgb(227, 92, 19);
    font-size: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    transition: all 0.5s ease-in-out;

}
.popular{
    margin-left: 5%;
    margin-right: 20%;
    height: auto;
    transition: all .5s ease-in-out;
}
.popular i{
    color: rgb(227, 92, 19);
}
::placeholder{
    font-size: large;
    color: rgb(227, 92, 19);
}
.search{
    margin-top:1em ;
    margin-bottom:1em ;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    display: flex;
    justify-items: center;
    height: 2.5em;
    border-radius: 10px;
    border: 0.1px solid rgb(227, 92, 19);
    font-size: large;
    text-align: center;
    transition: all .5s ease-in-out;
    /* width: 30%; */
}
.sr{
    position: sticky;
    top: 0;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 1px; */
    background-color: white;
}
.tableOfContent{
    border: 0.5px solid rgb(227, 92, 19);
    display: block;
    position: fixed;
    right: 30px;
    top: 320px;
    padding: 2em;
    width: 12%;
    font-size: large;
    color: rgb(227, 92, 19);
    transition: all .5s ease-in-out;
    border-radius: 10px;
}
.tableOfContent a{
    color:rgb(227, 92, 19) ;
    transition: all .5s ease-in-out;
}
.tableOfContent a:hover{
    color:rgb(34, 79, 243) ;
}

.items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
    column-gap: 1em;
    transition: all .5s ease-in-out;
}
@media screen and (max-width:1510px) {
    .items {
        grid-template-columns: repeat(3,1fr);
        transition: all .5s ease-in-out;
        row-gap: 1em;
    }
}
@media screen and (max-width:1200px) {
    .items {
        grid-template-columns: repeat(4,1fr);
        transition: all .5s ease-in-out;
    }
    .tableOfContent{
        display: none;
    }
    .popular {
        margin-left: 4%;
        margin-right: 4%;
        transition: all .5s ease-in-out;
    }
    .promHome{
        font-size: 100%;
    }
}
@media screen and (max-width:1120px) {
    .items {
        grid-template-columns: repeat(3,1fr);
        transition: all .5s ease-in-out;
    }
}
@media screen and (max-width:900px) {
    .items{
        display: flex;
        flex-direction: column;
        row-gap: 0.5em;
        margin-right:3% ;
    }
}

@media screen and (max-width:500px) {

    .search{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        display: flex;
        justify-items: center;
        height: 2.5em;
        border-radius: 10px;
        border: 0.1px solid rgb(227, 92, 19);
        font-size: large;
        text-align: center;
        transition: all .5s ease-in-out;
        /* width: 30%; */
    }
}