.footer{
    background-color: rgb(22, 22, 22);
    padding-left: 5%;
    padding-right: 5%;
    padding-top:0.5% ;
    padding-bottom:0.5% ;
    display: flex;
    justify-content: center;
    text-align: center;
    transition: all .50s ease-in-out;
    
}


@media screen and (max-width:1304px)
{
    .footer{
        
        padding-left: 4%;
        padding-right: 4%;
        transition: all .50s ease-in-out;
        
    }
}
@media screen and (max-width:703px)
{
    .footer{
        
             flex-direction: column; 
             row-gap: 1em; 
    }
    .d1{
        width: 100%; 

    }
    .d1 p{
        text-align: justify;
    }
    .d2{
        text-align: center;
        width: 100%;    
    }
}